.forum-wrapper{
  .title-section{
    .title-section-content{
      min-height: 30em;
      transform: rotate(-3deg);
      h1.extra-large{
        font-family: 'Bangers', 'Open Sans', Arial;
        font-size: 70px;
        transform: rotate3D(30, 5, 15, 20deg);
      }
      .brief-intro{
        transform: rotate(3deg);
      }
    }
  }

  .loads-faster-section{
    .progress-bar{
      position: relative;
      height: 1rem;
      width: 0;
      border-radius: 25px;
      will-change: width;
      transition: width .6s ease-in-out;
      background: linear-gradient(to right, orange, $young-pink 50%);
    }
    .progress-bar:after{
      position: absolute;
      right: 0;
      top: 0;

    }
  }
  .custom-made-section{
    transform: rotate(-3deg);
    border-radius: 25px;

    .diy-content{
      transform: rotate(3deg);
    }
  }

  .cta-button-white-outline{
    border: 1px solid $white;
    border-radius: 25px;
    width: 240px;
  }
  .cta-learn-more{
    bottom: 0;

  }
  .banger{
    font-family: 'Bangers', 'Open Sans', Arial;
    font-size: 50px;
  }

}

@media screen and (min-width: 768px){
  .forum-wrapper{
    .title-section .title-section-content{
      h1.extra-large{
        font-size:  100px;
      }
    }
  }
}