$forum-green: #4bd2b0;
$white: #fff;
$young-pink: #ff69b4;
$black : #000;

.color-forum-green{
  color: $forum-green !important;
}

.color-white{
  color: white !important;
}

.color-young-pink{
  color: $young-pink !important;
}

.color-black{
  color: $black !important;
}

.bg-forum-green{
  background-color: $forum-green !important;
}

.bg-white{
  background-color: $white !important;
}

.bg-young-pink{
  background-color: $young-pink !important;
}

.bg-black{
  background-color: $black !important;
}