$color-grey: #aaa;
$color-pop-mosaic: #00758F;

.text-grey{
  color: $color-grey;
}

.text-pop-mosaic{
  color: $color-pop-mosaic;
}

.bg-grey{
  background-color: $color-grey;
}

.bg-pop-mosaic{
  background-color: $color-pop-mosaic;
}